@model MyLeaveManagement.Models.ViewAllocationsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>EmployeeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.TaxId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.TaxId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.employeeViewModel.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.employeeViewModel.DateJoined)
        </dd>
    </dl>
</div>
<p>Details</p>
<ul class="list-group">
    @foreach (var item in Model.leaveAllocationViewModel)
    {
        <li class="list-group-item">
            Leave type- @item.LeaveType.Name .number of leave days- @item.NumberOfDays
            <a asp-action="Edit" asp-route-id="@item.id" class=" btn btn-outline-warning">
                <i class="fa fa-pen"></i>Edit
            </a>
        </li>
    }
</ul>

<div>
    <a asp-action="Index">Back to List</a>
</div>